.card-container {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 4%;
}

.employee-details {
  width: 100%;
}

.name {
  color: rgb(22, 36, 113);
  margin-block-start: 0;
  margin-block-end: 0;
  word-break: break-all;
}

.description {
  color: rgb(22, 36, 113);
}

.button-group {
  display: flex;
}