.button-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.page {
  margin-left: 10px;
  margin-right: 10px;
}

.page-buttons {
  display: flex;
}

.showing {
  line-height: 1.6;
  
}